.card {
  background-color: #373942;
  background-size: cover;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: #ffffff;
    padding: 0 10px;
  }
  &--video {
    .card__image {
      transition: opacity 0.5s;
      opacity: 0.8;
    }
    &:hover {
      .card__image {
        opacity: 0.5;
      }
    }
  }
  &--image {
    .card__image {
      transition: transform 0.5s;
    }
    &:hover {
      .card__image {
        transform: scale(1.05);
      }
      .card__image-zoom {
        display: block;
        animation: zoomove 0.5s forwards;
      }
    }
  }
  &--quote {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__quote {
    color: #ffffff;
    font-size: 1.5em;
    position: relative;
    &:before {
      content: '"';
      font-size: 5em;
      color: #5f6168;
      position: absolute;
      top: -100px;
      right: 50%;
    }
  }
  &__play {
    padding: 20px;
    margin: 0 10px;
    background-color: #00c29a;
    border: none;
    border-radius: 100%;
    cursor: pointer;
  }
  &__image-zoom {
    display: none;
    position: absolute;
    bottom: 30%;
    right: 50%;
    color: #ffffff;
    font-size: 20px;
  }
  &__meta {
    display: flex;
    align-items: center;
    padding: 20px 0;
    &content {
      h2,
      p {
        margin: 0;
      }
      p {
        margin-top: 5px;
      }
    }
  }
}

@keyframes zoomove {
  from {
    display: none;
    transform: translateY(0);
  }
  to {
    display: block;
    transform: translateY(-100px);
  }
}
